<%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="row g-0 mt-5 mb-5 height-100">
      <div class="col-md-6">
        <div class="bg-dark p-4 h-100 sidebar">
          <ul class="chart-design">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bg-white p-4 h-100">
          <div class="p-3 d-flex justify-content-center flex-column align-items-center"> <span class="main-heading">Log In</span>
            <div class="form-data">
              <%= f.label "Email" %><br />
              <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100" %>
            </div>
            <div class="form-data">
              <%= f.label "Senha" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, class: "form-control w-100" %>
            </div>
            <div class="d-flex justify-content-between w-100 align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Remember me </label> </div>
            </div>
            <div class="signin-btn w-100 mt-2">
              <%= f.submit t('views.entrar'), class: "btn btn-outline-dark" %>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to t('views.esqueceu_senha'), new_password_path(resource_name), class: "btn btn-outline-dark" %><br />
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
