<div class="container px-5 my-5">
  <h1 class="display-5 fw-bolder"><%= t('.create_post') %></h1>
  <div class="card">
    <div class="card-body">
      <%= form_with(model: @post, url: create_upload_post_path, method: :post, multipart: true, data: {turbo: false}) do |form| %>
        <% if @post.errors.any? %>
          <div class="container">
            <% @post.errors.full_messages.each do |error_message| %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error_message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <div class="mb-3">
          <%= form.label :body, class: "form-label" %>
          <%= form.file_field :body, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= form.submit "Create", class: "btn btn-outline-dark"%>
          <%= link_to "Home", home_index_path, class: "btn btn-outline-dark ms-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>